@model DKN.Models.ALT_KAPSAM

@{ ViewBag.Title = "Alt Kapsam Ekle";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> @Html.Partial("_Message")</h1>
        <ol class="breadcrumb">
            <li><a href="/Home/HomeIndex"><i class="fa fa-dashboard"></i> Menü</a></li>
            <li><a href="/Yonetici/AltKapsamList">Alt Kapsam Listesi</a></li>
            <li class="active">Alt Kapsam Ekleme</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6 col-md-offset-3">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Alt Kapsam Ekleme Sayfası</b></h3>
                    </div>
                    @using (Html.BeginForm("CreateAltKapsam", "Yonetici", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <div class="form-group">
                                <label for="ad">Ad</label>
                                @*<input type="email" required name="EMAIL" class="form-control" id="email" placeholder="Email">*@
                                @Html.TextBoxFor(m => m.AD, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AD, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="kisaAd">Kısa Ad</label>
                                @* <input type="text" name="AD" class="form-control" id="ad" placeholder="Ad">*@
                                @Html.TextBoxFor(m => m.KISA_AD, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.KISA_AD, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Kontör</label>
                                @* <input type="text" name="SOYAD" class="form-control" id="ad" placeholder="Soyad">*@
                                @Html.TextBoxFor(m => m.KONTOR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.KONTOR, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                @* <input type="text" name="SOYAD" class="form-control" id="ad" placeholder="Soyad">*@
                                @Html.TextBoxFor(m => m.ACIKLAMA, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ACIKLAMA, "", new { @class = "text-danger" })
                            </div>
                        </div> <!-- /.box-body -->
                                                        <div class="box-footer">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <button type="submit" class="btn btn-primary pull-left fa fa-plus"> Kaydet </button>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <a href="/Yonetici/AltKapsamList" class="btn btn-warning pull-right fa fa-reply"> Alt Kapsam Listesine Dön</a>

                                                                </div>
                                                            </div>

                                                        </div>}
                </div>

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>





